Standard: Cpp11

UseTab: Never
IndentWidth: 4
ColumnLimit: 80

AllowShortFunctionsOnASingleLine: Empty

AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignTrailingComments: Always
AlignEscapedNewlines: Left
